/* Fonts */
$global-font:'Quicksand', sans-serif;
$heading-font:'Kreon', serif;

/* Colors */
$primary-color: #eac43b;
$secondary-color: #2a3270;
$light-blue-color: #f8f9fc;

$body-color:#212529;
$white-color: #ffffff;
